<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button  mat-button  (click)="goToProduct(node.categoryName)">{{node.categoryName}}</button>

<!--

    <mat-chip-set aria-label="Fish selection">
      <mat-chip> {{node.categoryName}}</mat-chip>
    </mat-chip-set>-->


  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                 [cdkTreeNodeTypeaheadLabel]="node.categoryName">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.categoryName">
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    <mat-chip-set aria-label="Fish selection">
      <mat-chip> {{node.categoryName}}</mat-chip>
    </mat-chip-set>


  </mat-tree-node>
</mat-tree>



<!--<mat-tree>
  <mat-tree-node> parent node </mat-tree-node>
  <mat-tree-node> &#45;&#45; child node1 </mat-tree-node>
  <mat-tree-node> &#45;&#45; child node2 </mat-tree-node>
</mat-tree>-->
