
<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
  <div class="navbar-nav mr-auto py-0">
    <a  routerLink="/" class="nav-item nav-link active">Home</a>
    <a  routerLink="/shopDisplayProducts" href="shop.html" class="nav-item nav-link">Search Product</a>
    <a routerLink="/shopping_cart" class="nav-item nav-link">Shopping Cart</a>
    <a routerLink="/checkout_page" class="nav-item nav-link">Checkout</a>
    <a routerLink="/all_categories" class="nav-item nav-link">Categories</a>

    <!--
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
      <div class="dropdown-menu rounded-0 m-0">
        <a href="cart.html" class="dropdown-item">Shopping Cart</a>
        <a href="checkout.html" class="dropdown-item">Checkout</a>
      </div>
    </div>
    -->

    <a routerLink="/" class="nav-item nav-link">Contact</a>
  </div>
  <div class="navbar-nav ml-auto py-0">
    <a href="" class="nav-item nav-link">Login</a>
    <a href="" class="nav-item nav-link">Register</a>
  </div>
</div>

